*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#141E30,#243B55);

}

.container{

width:900px;
max-width:95%;

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 35px rgba(0,0,0,.4);

}

h1{

text-align:center;

margin-bottom:25px;

color:#243B55;

}

.input-area{

display:flex;

gap:10px;

margin-bottom:20px;

}

.input-area input{

flex:1;

padding:14px;

font-size:17px;

border:2px solid #ddd;

border-radius:10px;

outline:none;

}

#search{

width:100%;

padding:14px;

margin-bottom:20px;

border-radius:10px;

border:2px solid #ddd;

outline:none;

}

button{

cursor:pointer;

border:none;

padding:13px 18px;

border-radius:10px;

font-size:15px;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}

#addBtn{

background:#28a745;

color:white;

}

#clearBtn{

background:#dc3545;

color:white;

}

.menu{

display:flex;

justify-content:space-between;

margin-bottom:20px;

gap:10px;

}

select{

padding:10px;

border-radius:10px;

}

.stats{

display:flex;

justify-content:space-between;

margin-bottom:15px;

font-weight:bold;

}

.progress{

height:12px;

background:#ddd;

border-radius:20px;

overflow:hidden;

margin-bottom:20px;

}

#progressBar{

width:0;

height:100%;

background:#28a745;

transition:.4s;

}

.task{

display:flex;

justify-content:space-between;

align-items:center;

padding:15px;

background:#f4f4f4;

border-radius:12px;

margin-bottom:12px;

}

.left{

display:flex;

align-items:center;

gap:12px;

flex:1;

}

.left input[type=text]{

border:none;

background:transparent;

font-size:17px;

width:100%;

outline:none;

}

.completed{

text-decoration:line-through;

opacity:.5;

}

.actions{

display:flex;

gap:6px;

}

.edit{

background:#ffc107;

}

.save{

background:#28a745;

color:white;

display:none;

}

.delete{

background:#dc3545;

color:white;

}

.done{

background:#007bff;

color:white;

}

@media(max-width:700px){

.menu{

flex-direction:column;

}

.input-area{

flex-direction:column;

}

.task{

flex-direction:column;

gap:15px;

align-items:flex-start;

}

.actions{

flex-wrap:wrap;

}

}